<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes></app-recipes>
      <app-shopping-list></app-shopping-list>
      <!-- <h2>I'm working</h2> -->
    </div>
  </div>
</div>



























<!-- <app-server></app-server> -->

<!-- The content below is only a placeholder and can be replaced.
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  {{data}}
  <app-heroes></app-heroes>
</div>
<div style="text-align:center">
    <table>
        <tr>
          <td>One Way </td>
          <td>{{45+45}}</td>
        </tr>
        <tr>
          <td>Property Binding</td>
          <td><input type="text" [value]="data"></td>
        </tr>
        <tr>
          <td>Event Binding</td>
          <td><input type="button" value="Click me" (click)=ButtonClicked()></td>
        </tr>
    </table>
</div>
<div style="text-align:center">
  <p *ngIf="check; else checkFals">Welcome</p>
    <P>
      <ng-template #checkFals>
          Thanks to all
      </ng-template>
     
    </P>
  <p>Change: <input type="checkbox"  [(ngModel)]="check" ></p>
</div> 

<ng-container *ngIf="check; then welcomeMsg; else thanksMsg">

</ng-container>
<ng-template #welcomeMsg><p>Welcome callled by container</p></ng-template>
<ng-template #thanksMsg><p>Thanks callled by container</p></ng-template> -->